Repository adrian207/Windows-Server-Powershell-Solutions-Suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adrian207, @powershell-team, @documentation-team, @devops-team, @security-team, @architecture-team, @legal-team, @maintainers

Update README.md with solution folder links and better GitHub discovery
  README.md
Owners: @adrian207

docs: polish root and solution READMEs, remove 'Minto' mentions, move Quick-Start guides under Documentation with redirects
  AD-CS-Scripts/README.md
  Active-Directory-Scripts/README.md
  File-Storage-Services/Documentation/Quick-Start-Guide.md
  Hyper-V-Scripts/README.md
  Print-Server-Scripts/Documentation/Quick-Start-Guide.md
  Print-Server-Scripts/README.md
  README.md
Owners: @adrian207, @documentation-team

docs: add executive summaries to DNS, DHCP, and RDS READMEs; standardize 'Last updated' dates
  DHCP-Scripts/README.md
  DNS-Scripts/README.md
  Remote-Desktop-Services/README.md
Owners: @adrian207

docs: add executive summaries to ADFS, Entra Connect, and File-Storage READMEs; standardize dates
  ADFS-Scripts/README.md
  Entra-Connect-Scripts/README.md
  File-Storage-Services/README.md
Owners: @adrian207

Add comprehensive versioning system
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  VERSIONING.md
  version.json
Owners: @adrian207, @devops-team, @documentation-team

Add GitHub release creation guide
  CREATE_RELEASE.md
Owners: @adrian207, @documentation-team

Add enhanced error handling and logging modules
  Modules/Error-Handling.psm1
  Modules/Examples/Error-Handling-Examples.ps1
  Modules/Logging-Core.psm1
  Modules/README.md
Owners: @adrian207, @powershell-team

Fix version number in Error-Handling module and typo in Logging-Core
  Modules/Error-Handling.psm1
  Modules/Logging-Core.psm1
Owners: @adrian207, @powershell-team

Fix Join-Path syntax in Logging-Core module
  Modules/Logging-Core.psm1
  Modules/TEST-Modules.ps1
Owners: @adrian207, @powershell-team

Bump version to 1.1.0 - Enhanced Error Handling & Logging
  CHANGELOG.md
  README.md
  version.json
Owners: @adrian207, @documentation-team, @devops-team

Bump version to 1.2.0 - Performance Monitoring & Optimization
  CHANGELOG.md
  Modules/Performance-Monitoring.psm1
  Modules/TEST-Performance-Monitoring.ps1
  README.md
  version.json
Owners: @adrian207, @documentation-team, @powershell-team, @devops-team

Add comprehensive Enterprise Scenarios Guide
  Enterprise-Scenarios-Guide.md
Owners: @adrian207, @documentation-team

Add testing status report
  TESTING-STATUS.md
Owners: @adrian207, @documentation-team

Fix Performance-Monitoring test issues
  Modules/TEST-Performance-Monitoring.ps1
  TESTING-STATUS.md
Owners: @adrian207, @powershell-team, @documentation-team

Add Extended Monitoring module with comprehensive health monitoring
  Modules/Extended-Monitoring.psm1
  Modules/TEST-Extended-Monitoring.ps1
Owners: @adrian207, @powershell-team

Bump version to 1.4.0 - Extended Monitoring
  CHANGELOG.md
  README.md
  version.json
Owners: @adrian207, @documentation-team, @devops-team

Fix version table and README typo
  CHANGELOG.md
Owners: @adrian207, @documentation-team

Fix README typo
  README.md
Owners: @adrian207

Add LAPs solution v1.5.0 - Comprehensive password management
  CHANGELOG.md
  LAPs-Scripts/Configuration/LAPs-Configuration-Template.json
  LAPs-Scripts/Examples/LAPs-Examples.ps1
  LAPs-Scripts/Modules/LAPs-Core.psm1
  LAPs-Scripts/Modules/LAPs-Monitoring.psm1
  LAPs-Scripts/Modules/LAPs-Security.psm1
  LAPs-Scripts/Modules/LAPs-Troubleshooting.psm1
  LAPs-Scripts/README.md
  LAPs-Scripts/Scripts/Deployment/Deploy-LAPs.ps1
  LAPs-Scripts/Tests/Test-LAPsScripts.ps1
  README.md
  version.json
Owners: @adrian207, @documentation-team, @devops-team, @powershell-team

Update Enterprise Scenarios Guide for LAPs - 19 solutions, 508+ scenarios
  Enterprise-Scenarios-Guide.md
Owners: @adrian207, @documentation-team

Update README for v1.5.0 - 19 solutions, 508+ scenarios
  README.md
Owners: @adrian207

Fix README links and update to 19 solutions
  README.md
Owners: @adrian207

Fix corrupted URL in release links
  README.md
Owners: @adrian207

Final fix to release links
  README.md
Owners: @adrian207

.github/CODEOWNERS:

# CODEOWNERS File
# Author: Adrian Johnson (adrian207@gmail.com)
# Version: 1.0.0
# Date: December 2024

# Global owners
* @adrian207

# PowerShell Scripts
*.ps1 @adrian207 @powershell-team
*.psm1 @adrian207 @powershell-team

# Documentation
*.md @adrian207 @documentation-team
README.md @adrian207

# Configuration Files
*.json @adrian207 @devops-team
*.yml @adrian207 @devops-team
*.yaml @adrian207 @devops-team

# Security Files
SECURITY-COMPLIANCE.md @adrian207 @security-team
*.security.* @adrian207 @security-team

# Architecture and Design
ARCHITECTURE.md @adrian207 @architecture-team
DEPLOYMENT-GUIDE.md @adrian207 @devops-team

# License and Legal
LICENSE @adrian207 @legal-team
CONTRIBUTING.md @adrian207 @maintainers
